{% extends "base.html" %}
{% block title %}Quote Request{% endblock title %}
{% block sidenav %}
    {% for page in page_list %}
        <li class="nav-item"><a href="/{{ page.permalink }}" class="nav-link">{{ page.title }}</a></li>
    {% endfor %}
{% endblock sidenav %}
{% block content %}
    <h1>Quote Request</h1>

    {% if submitted %}

        <p class="success">

            Your quote was submitted successfully. Thank
            you.

        </p>

    {% else %}
<form action="" enctype="multipart/form-data" method="post" novalidate>

{% if form.errors %}



<div class="bd-example bg-light">
<div class="toast fade show" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-body">
    {% for error in form.errors %}

{{ error|escape }}



    {% endfor %}
 <div class="mt-2 pt-2 border-top"></div>
  </div>
</div>

</div>


    {% endif %}

{{ form.non_field.errors }}
<div class="bd-example">

<div class="form-floating mb-3">
    {{ form.name }}
      <label for="{{ form.name.id_for_label }}">Имя</label>

    <div class="invalid-feedback">
        {{ form.name.errors }}
    </div>
</div>


<div class="form-floating mb-3">
    {{ form.position }}
      <label for="{{ form.position.id_for_label }}">Позиция</label>

    <div class="invalid-feedback">
        {{ form.position.errors }}
    </div>
</div>


<div class="form-floating mb-3">
    {{ form.company }}
      <label for="{{ form.company.id_for_label }}">Компания</label>

    <div class="invalid-feedback">
        {{ form.company.errors }}
    </div>
</div>


<div class="form-floating mb-3">
    {{ form.address }}
      <label for="{{ form.address.id_for_label }}">Имя</label>

    <div class="invalid-feedback">
        {{ form.address.errors }}
    </div>
</div>


<div class="form-floating mb-3">
    {{ form.phone }}
      <label for="{{ form.phone.id_for_label }}">Телефон</label>

    <div class="invalid-feedback">
        {{ form.phone.errors }}
    </div>
</div>


<div class="form-floating mb-3">
    {{ form.email }}
      <label for="{{ form.email.id_for_label }}">Е-Майл</label>

    <div class="invalid-feedback">
        {{ form.email.errors }}
    </div>
</div>


<div class="form-floating mb-3">
    {{ form.web }}
      <label for="{{ form.web.id_for_label }}">Сайт</label>

    <div class="invalid-feedback">
        {{ form.web.errors }}
    </div>
</div>


<div class="form-floating mb-3">
    {{ form.description }}
      <label for="{{ form.description.id_for_label }}">Описание</label>

    <div class="invalid-feedback">
        {{ form.description.errors }}
    </div>
</div>


<div class="form-floating mb-3">
    {{ form.sitestatus }}
      <label for="{{ form.sitestatus.id_for_label }}">Статус сайта</label>

    <div class="invalid-feedback">
        {{ form.sitestatus.errors }}
    </div>
</div>


<div class="form-floating mb-3">
    {{ form.priority }}
      <label for="{{ form.priority.id_for_label }}">Приоритет</label>

    <div class="invalid-feedback">
        {{ form.priority.errors }}
    </div>
</div>


<div class="form-floating mb-3">
    {{ form.jobfile }}
      <label for="{{ form.jobfile.id_for_label }}">Файл</label>

    <div class="invalid-feedback">
        {{ form.jobfile.errors }}
    </div>
</div>


</div>



            <table>

                {{ form.as_table }}

                <tr>

                    <td>&nbsp;</td>

                    <td>  <button type="submit" class="btn btn-primary">Submit</button>
</td>

                </tr>

            </table>
'name', 'position', 'company', 'address', 'email', 'phone',
            'web', 'description', 'sitestatus', 'priority', 'jobfile'
            {% csrf_token %}

        </form>
    {% endif %}
{% endblock content %}