{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
        United Document
        {% endblock %}
    </title>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css">

</head>
<body>
<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
            {% block sidenav %}

        <li class="nav-item"> <a class="nav-link" href="#">Link</a></li>
            {% endblock sidenav%}

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
          </ul>
        </li>
                  <li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
                  <li class="nav-item"><a class="nav-link" href="/quote/">Get a Quote</a></li>
                  <li class="nav-item"><a class="nav-link" href="/quote/show">Show Quote</a></li>

        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      {% if user.is_authenticated %}
       <li class="nav-item">
          <sapn class="nav-link " tabindex="-1" >Hello, {{ user.username }}.
          <a style="display: inline;" class="nav-link" href="{% url 'logout' %}?next=/">Log out</a></sapn>
        </li>
          {% else %}
         <li class="nav-item">
          <sapn class="nav-link " tabindex="-1" >Not logget in.
          <a style="display: inline;"  class="nav-link" href="{% url 'login' %}?next=/">Log In</a></sapn>
        </li>

      {% endif %}

      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
</header>
<main>
<section class="py-5 text-center container">

    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">

            {% block content %}
                <h1 class="fw-light">Album example</h1>
                <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
                <p>
                  <a href="#" class="btn btn-primary my-2">Main call to action</a>
                  <a href="#" class="btn btn-secondary my-2">Secondary action</a>
                </p>
           {% endblock content%}

        </div>
    </div>
</section>
</main>
<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    <p class="mb-1">Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
    <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our
       getting started guide.</p>
  </div>
</footer>


    <script src="{% static 'js/bootstrap.bundle.min.js' %}" ></script>

</body>
</html>